.main-nav {
  position: fixed;
  top: 28px;
  right: 37px;
  pointer-events: none;
  $root: &;

  &.is-active {
    pointer-events: all;

    &::before {
      clip-path: circle(120% at 25% 100%);
    }

    #{$root}__list {
      opacity: 1;
      transition: opacity $trans-default 0.5s;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-default-black;
    border-radius: 16px;
    z-index: -1;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path $trans-600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    list-style: none;
    padding: 52px 40px 46px;
    width: 260px;
    opacity: 0;
    transition: opacity $trans-default;
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: $color-default-black;
  }
}
